*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.linha1 , .linha2, .linha3, .linha4, .linha5, .linha6{
    display: flex;
    justify-content:center;
    align-items: center;
    width: auto;
    height: 6.66vh;
    gap: 1px;
}

.bloco-azul{
    background-color: #526bdb;
    border-radius: 10%;
    border: solid black 2px;
    width: 6.66vh;
    height: 6.66vh;
}

.bloco-preto{
    background-color: black;
    border-radius: 10%;
    width: 6.66vh;
    height: 6.66vh;
}

.bloco-vermelho{
    width: 6.66vh;
    height: 6.66vh;
    background-color: red;
    border-radius: 10%;
}