*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.linha1 , .linha2, .linha3, .linha4, .linha5, .linha6, .linha7, .linha8, .linha9, .linha10, .linha11, .linha12, .linha13, .linha14, .linha15{
    display: flex;
    justify-content:center;
    align-items: center;
    width: auto;
    height: 6.66vh;
    gap: 1px;
}

.bloco-azul{
    background-color: #526bdb;
    border-radius: 10%;
    border: solid black 2px;
    width: 6.66vh;
    height: 6.66vh;
}

.bloco-preto{
    background-color: black;
    border-radius: 10%;
    width: 6.66vh;
    height: 6.66vh;
}

.bloco-vermelho{
    width: 6.66vh;
    height: 6.66vh;
    background-color: red;
    border-radius: 10%;
}

.bloco-roxo{
    width: 6.66vh;
    height: 6.66vh;
    background-color: #9747e2;
    border-radius: 10%;
}

.bloco-amarelo{
    width: 6.66vh;
    height: 6.66vh;
    background-color: rgb(255, 251, 0);
    border-radius: 10%;
}

.bloco-marrom{
    width: 6.66vh;
    height: 6.66vh;
    background-color: #641717;
    border-radius: 10%;
}

.bloco-verde{
    width: 6.66vh;
    height: 6.66vh;
    background-color: #3d8d3d;
    border-radius: 10%;
}